/* Glitch Effects */
.glitch {
    animation: glitch 0.3s ease-in-out infinite alternate;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #ff0080, -0.05em -0.025em 0 #00ffff, -0.025em 0.05em 0 #ffff00;
    }

    15% {
        text-shadow: 0.05em 0 0 #ff0080, -0.05em -0.025em 0 #00ffff, -0.025em 0.05em 0 #ffff00;
    }

    16% {
        text-shadow: -0.05em -0.025em 0 #ff0080, 0.025em 0.025em 0 #00ffff, -0.05em -0.05em 0 #ffff00;
    }

    49% {
        text-shadow: -0.05em -0.025em 0 #ff0080, 0.025em 0.025em 0 #00ffff, -0.05em -0.05em 0 #ffff00;
    }

    50% {
        text-shadow: 0.025em 0.05em 0 #ff0080, 0.05em 0 0 #00ffff, 0 -0.05em 0 #ffff00;
    }

    99% {
        text-shadow: 0.025em 0.05em 0 #ff0080, 0.05em 0 0 #00ffff, 0 -0.05em 0 #ffff00;
    }

    100% {
        text-shadow: -0.025em 0 0 #ff0080, -0.025em -0.025em 0 #00ffff, -0.025em -0.05em 0 #ffff00;
    }
}
